// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #295C7A;
$color-brown: #784F33;
$color-transparent: transparent;
$color-dark-blue: #252B42;
$color-yellow: #D0A144;
$color-link: #737373;
$color-linear: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);

// Font-sizes 
$f-size-xs: 0.875rem; //14px
$f-size-s: 1rem; //16px
$f-size-m: 1.5rem; //24px
$f-size-l: 2.5rem; //40px
$f-size-xl: 3.5rem; //58px