.practice{
    margin-top: 5rem;
    
    @extend .center,.f-d-column;
    .section__head{
        @include section-head;
        font-size: 1rem
    }
    .section__info{
        @extend .f-size-xs;
    color: $color-link;
    text-align: center;
    max-width: 500px;
    line-height: 1.5rem;
        margin: 0 auto
    }
    .numbers{
        @extend .center;
        gap: 2rem;
        &__card{
            @extend .center,.f-d-column;
            
            img{
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .practice{
        .section__info{
            max-width: 300px;
        }
        .numbers{
            flex-direction: column;
            
        }
    }
  }